<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit(form)">

            <div class="example-container">
                <mat-form-field>
                    <i class="material-icons" matSuffix>people</i>
                    <mat-select placeholder="Vous etes un(e)" formControlName="sexe" required>
                      <mat-option value="Homme">Homme</mat-option>
                      <mat-option value="Femme">Femme</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="example-container">

                <mat-form-field >
                    <i class="material-icons" matSuffix>person</i>
                  <input matInput placeholder="Votre nom" formControlName="firstName" required>
                  <mat-error *ngIf="form.get('firstName').hasError('required')">Champs obligatoire</mat-error>
                  <mat-error *ngIf="form.get('firstName').hasError('maxlength')">15 caractères maximum</mat-error>
                </mat-form-field>
                </div>

              <div class="example-container">
                  <mat-form-field >
                      <i class="material-icons" matSuffix>person</i>
                    <input matInput placeholder="Entrez votre votre prenom" formControlName="lastName" required>
                    <mat-error *ngIf="form.get('lastName').hasError('required')">Champs obligatoire</mat-error>
                    <mat-error *ngIf="form.get('lastName').hasError('maxlength')">15 caractères maximum</mat-error>
                  </mat-form-field>
                </div>

                <div class="example-container">
                    <mat-form-field >
                        <!-- <i class="material-icons" matSuffix>person</i> -->
                      <input matInput placeholder="Entrez votre age" formControlName="age" required>
                      <mat-error *ngIf="form.get('age').hasError('required')">Champs obligatoire</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="example-container">
                      <mat-form-field >
                          <i class="material-icons" matSuffix>email</i>
                        <input matInput placeholder="Entrez votre email" formControlName="email" required>
                        <mat-error *ngIf="form.get('email').hasError('required')">Champs obligatoire</mat-error>
                        <mat-error *ngIf="form.get('email').hasError('maxlength')">15 caractères maximum</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field >
                            <i class="material-icons" matSuffix>location_city</i>
                          <input matInput placeholder="Entrez votre ville" formControlName="city" required [matAutocomplete]="auto">
                          <mat-error *ngIf="form.get('city').hasError('required')">Champs obligatoire</mat-error>
                          <mat-error *ngIf="form.get('city').hasError('maxlength')">15 caractères maximum</mat-error>

                          <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                                {{option.name}}
                              </mat-option>
                            </mat-autocomplete>

                        </mat-form-field>
                      </div>

                    <div class="example-container">
                        <mat-form-field >
                            <i class="material-icons" matSuffix>lock</i>
                          <input type="password" matInput placeholder="Entrez votre mot de passe" formControlName="password" required>
                          <mat-error *ngIf="form.get('password').hasError('required')">Champs obligatoire</mat-error>
                          <mat-error *ngIf="form.get('password').hasError('maxlength')">15 caractères maximum</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="example-container">
                          <mat-form-field >
                              <i class="material-icons" matSuffix>lock</i>
                            <input type="password" matInput placeholder="Confirmez votre mot de passe" required (change)="confirmPass()" [(ngModel)]="confPass" [ngModelOptions]="{standalone: true}">
                            <mat-error *ngIf="form.get('password').hasError('required')">Champs obligatoire</mat-error>
                            <mat-error *ngIf="form.get('password').hasError('maxlength')">15 caractères maximum</mat-error>
                          </mat-form-field>
                        </div>
                </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="submit(form)" color="primary" [disabled]="form.invalid && confirmPass()">Register</button>
    </mat-card-actions>
  </mat-card>
    </div>
    <div class="col-sm-3"> </div>
  </div>
</div>
