  <mat-toolbar>
    <mat-toolbar-row>
    <span>MyEvent</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <button routerLink="/eventCreate" mat-button> Créer un evenement</button>
        <button routerLink="/eventList" mat-button>Liste des evenements</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
     <a href="http://localhost:4000/api-docs/" target="_blank"> <button mat-menu-item>
        <mat-icon>create</mat-icon>
        <span>Pour les developpeurs</span>
      </button>  </a>
      <button mat-menu-item routerLink="/aboutUser">
        <mat-icon>feedback</mat-icon>
        <span >Informations du compte</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span >Logout</span>
      </button>
    </mat-menu>
     </mat-toolbar-row>

