.example-container > * {
    width: 100%;
  }
  
  mat-form-field {
     width: 10%;
    size: 20%;
  }
  
  h3{
   text-align: center;
   color : #3f51b5;
   padding-bottom: 7%;
  }
  
  .example-card{
    text-align: center;
  }
  
  .container {
    padding: 2% 2% 2% 2%;
  }
  