<div class="container">
    <div class="row">
        <div class="col-xs-12" class="center">
            <p> Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irreversible !</p>
            <button class="btn btn-danger centerButton" (click)="openConfirmDelete()">Supprimer mon compte</button>
            <p> Voici la liste de tous les evenements que vous avez créés :</p>
        </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <mat-card *ngFor="let event of events" class="example-card">
          <mat-card-header >
            <div mat-card-avatar class="example-header-image">
               <i *ngIf="event.category === 'Informatique'" class="material-icons" matSuffix>computer</i>
               <i *ngIf="event.category === 'Sport'" class="material-icons" matSuffix>sports_baseball</i>
               <i *ngIf="event.category === 'Cuisine'" class="material-icons" matSuffix>fastfood</i>
            </div>
            <mat-card-title>{{event.title}}</mat-card-title>
            <mat-card-subtitle>{{event.city_coord}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <hr>
            <p>
               <span class="boldText"> Date de début : </span>{{event.dateStartEvent | date}}
            </p>
            <p>
                  <span class="boldText"> Date de fin : </span>{{event.dateEndEvent | date}}
              </p>
            <p>
                  <span class="boldText"> Description : </span>{{event.description}}
              </p>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
