<h2 mat-dialog-title>Détail de l'evenement - {{this.data.title}}</h2>
<h6> À {{this.data.city_coord}}</h6>
<mat-dialog-content class="mat-typography">
  <hr>

  <div class="alert alert-secondary" role="alert">
      <h3 class="font-weight-bold">Informations concernant l'évenement</h3>
      <p> <i class="material-icons" matSuffix>category</i> <span class="font-weight-bold">Catégorie : </span>{{this.data.category}}</p>
      <p> <i class="material-icons" matSuffix>location_city</i> <span class="font-weight-bold">Lieu de l'evenement : </span>{{this.data.city_coord}}</p>
      <p> <i class="material-icons"> event </i><span class="font-weight-bold">Date de début de l'evenement : </span>{{this.data.dateStartEvent | date}}</p>
      <p> <i class="material-icons"> event </i><span class="font-weight-bold">Date de fin de l'evenement :</span>{{this.data.dateEndEvent | date}}</p>
      <p> <i class="material-icons"> description </i> <span class="font-weight-bold">Description : </span>{{this.data.description}}</p>
      <p> <i class="material-icons" matSuffix>accessibility</i> <span class="font-weight-bold">Age minimum pour y participer : </span>{{this.data.nbAgeMin}}</p>
      <p> <i class="material-icons"> group </i> <span class="font-weight-bold">Nombre de participants maximum : </span>{{this.data.nbParticipationMax}}</p>

    </div>

  <div class="alert alert-primary" role="alert">
      <h3 class="font-weight-bold">Informations sur la meteo</h3>
      <p> <i class="material-icons"> wb_sunny </i> <span class="font-weight-bold">Levé du soleil : </span>{{sunrise | date:'shortTime'}}</p>
      <p> <i class="material-icons"> flare </i> <span class="font-weight-bold">Couché du soleil : </span>{{sunset | date:'shortTime'}}</p>
      <p> <i class="material-icons"> wb_cloudy </i> <span class="font-weight-bold">  Nuages: </span>{{clouds}}%</p>
      <p> <i class="material-icons"> wb_sunny </i> <span class="font-weight-bold">Temperature actuelle : </span>{{tempActuel | number}} °C</p>
      <p> <i class="material-icons"> wb_sunny </i> <span class="font-weight-bold">Temperature maximale : </span>{{tempMax | number}} °C</p>
      <p> <i class="material-icons"> ac_unit </i> <span class="font-weight-bold">Temperature minimale : </span>{{tempMin | number}} °C</p>
    </div>

    <div class="alert alert-warning" role="alert">
        <h3 class="font-weight-bold"></h3>
        <p> <i class="material-icons"> supervisor_account </i> <span class="font-weight-bold">Nombre de places restantes : </span>{{placesRestantes}}</p>
        <p> <i class="material-icons"> email </i> <span class="font-weight-bold">Mail de l'organisateur : </span> {{this.data.createdBy}}</p>

      </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="nbMaxAtteint() || checkDate()" (click)="participateToevent(this.data)">Participer</button>
</mat-dialog-actions>
