<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="center">
            <mat-button-toggle value="bold" (click)="getAllEvents()" >Liste de tous les evenements</mat-button-toggle>
            <mat-button-toggle value="italic" (click)="getEventStill()">Evenements en approche</mat-button-toggle>
            <mat-button-toggle value="underline" (click)="getEventCompleted()">Evenements terminés</mat-button-toggle>
          </mat-button-toggle-group>
    </div>
  </div>
    <div class="row">
        <div class="col-md-7">
                <mat-card *ngFor="let event of allEvents" class="example-card" (click)="flyTo(event.city_coord)">
                        <mat-card-header >
                          <div mat-card-avatar class="example-header-image">
                             <i *ngIf="event.category === 'Informatique'" class="material-icons" matSuffix>computer</i>
                             <i *ngIf="event.category === 'Sport'" class="material-icons" matSuffix>sports_baseball</i>
                             <i *ngIf="event.category === 'Cuisine'" class="material-icons" matSuffix>fastfood</i>
                          </div>
                          <mat-card-title>{{event.title}}</mat-card-title>
                          <mat-card-subtitle>{{event.city_coord}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content (click)="getWeather(event.city_coord)">
                            <hr>
                          <p>
                             <span class="boldText"> Date de début : </span>{{event.dateStartEvent | date}}
                          </p>
                          <p>
                                <span class="boldText"> Date de fin : </span>{{event.dateEndEvent | date}}
                            </p>
                          <p>
                                <span class="boldText"> Description : </span>{{event.description}}
                            </p>

                            <div *ngIf="!checkDate(event.dateEndEvent)" class="alert alert-success" role="alert">
                              L'evenement aura bientôt lieu !
                            </div>

                            <div *ngIf="checkDate(event.dateEndEvent)" class="alert alert-danger" role="alert">
                              L'evenement est dejà terminé
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="openDialog(event)">Détails</button>
                        </mat-card-actions>
                      </mat-card>
        </div>

        <div class="col-md-5">
            <div class="map" id="map" class="match-parent"></div>
        </div>
    </div>
</div>
